# Input Profiles
active_profile=Default

profile.Default.key.MOVE_FORWARD=87
profile.Default.mouse.MOVE_FORWARD=-1
profile.Default.key.MOVE_BACKWARD=83
profile.Default.mouse.MOVE_BACKWARD=-1
profile.Default.key.MOVE_LEFT=65
profile.Default.mouse.MOVE_LEFT=-1
profile.Default.key.MOVE_RIGHT=68
profile.Default.mouse.MOVE_RIGHT=-1
profile.Default.key.JUMP=32
profile.Default.mouse.JUMP=-1
profile.Default.key.SPRINT=340
profile.Default.mouse.SPRINT=-1
profile.Default.key.CROUCH=341
profile.Default.mouse.CROUCH=-1
profile.Default.key.INTERACT=70
profile.Default.mouse.INTERACT=-1
profile.Default.key.ATTACK=0
profile.Default.mouse.ATTACK=0
profile.Default.key.BLOCK=0
profile.Default.mouse.BLOCK=1
profile.Default.key.INVENTORY=69
profile.Default.mouse.INVENTORY=-1
profile.Default.key.CRAFT=67
profile.Default.mouse.CRAFT=-1
profile.Default.key.BUILD=66
profile.Default.mouse.BUILD=-1
profile.Default.key.DESTROY=0
profile.Default.mouse.DESTROY=0
profile.Default.key.USE_ITEM=0
profile.Default.mouse.USE_ITEM=1
profile.Default.key.DROP_ITEM=81
profile.Default.mouse.DROP_ITEM=-1
profile.Default.key.HOTBAR_1=49
profile.Default.mouse.HOTBAR_1=-1
profile.Default.key.HOTBAR_2=50
profile.Default.mouse.HOTBAR_2=-1
profile.Default.key.HOTBAR_3=51
profile.Default.mouse.HOTBAR_3=-1
profile.Default.key.HOTBAR_4=52
profile.Default.mouse.HOTBAR_4=-1
profile.Default.key.HOTBAR_5=53
profile.Default.mouse.HOTBAR_5=-1
profile.Default.key.HOTBAR_6=54
profile.Default.mouse.HOTBAR_6=-1
profile.Default.key.HOTBAR_7=55
profile.Default.mouse.HOTBAR_7=-1
profile.Default.key.HOTBAR_8=56
profile.Default.mouse.HOTBAR_8=-1
profile.Default.key.HOTBAR_9=57
profile.Default.mouse.HOTBAR_9=-1
profile.Default.key.HOTBAR_PREV=91
profile.Default.mouse.HOTBAR_PREV=-1
profile.Default.key.HOTBAR_NEXT=93
profile.Default.mouse.HOTBAR_NEXT=-1
profile.Default.key.MENU=256
profile.Default.mouse.MENU=-1
profile.Default.key.ENTER_VEHICLE=70
profile.Default.mouse.ENTER_VEHICLE=-1
profile.Default.key.EXIT_VEHICLE=70
profile.Default.mouse.EXIT_VEHICLE=-1
profile.Default.key.CHAT=84
profile.Default.mouse.CHAT=-1
profile.Default.key.DEBUG=292
profile.Default.mouse.DEBUG=-1
profile.Default.key.SCREENSHOT=291
profile.Default.mouse.SCREENSHOT=-1
profile.Default.key.MAP=77
profile.Default.mouse.MAP=-1
profile.Default.key.LOOK=0
profile.Default.mouse.LOOK=-1
profile.Default.key.ZOOM=90
profile.Default.mouse.ZOOM=-1
profile.Default.key.RADIAL_MENU=258
profile.Default.mouse.RADIAL_MENU=-1

profile.Builder.key.MOVE_FORWARD=87
profile.Builder.mouse.MOVE_FORWARD=-1
profile.Builder.key.MOVE_BACKWARD=83
profile.Builder.mouse.MOVE_BACKWARD=-1
profile.Builder.key.MOVE_LEFT=65
profile.Builder.mouse.MOVE_LEFT=-1
profile.Builder.key.MOVE_RIGHT=68
profile.Builder.mouse.MOVE_RIGHT=-1
profile.Builder.key.JUMP=32
profile.Builder.mouse.JUMP=-1
profile.Builder.key.SPRINT=340
profile.Builder.mouse.SPRINT=-1
profile.Builder.key.CROUCH=341
profile.Builder.mouse.CROUCH=-1
profile.Builder.key.INTERACT=70
profile.Builder.mouse.INTERACT=-1
profile.Builder.key.ATTACK=0
profile.Builder.mouse.ATTACK=0
profile.Builder.key.BLOCK=0
profile.Builder.mouse.BLOCK=1
profile.Builder.key.INVENTORY=69
profile.Builder.mouse.INVENTORY=-1
profile.Builder.key.CRAFT=67
profile.Builder.mouse.CRAFT=-1
profile.Builder.key.BUILD=66
profile.Builder.mouse.BUILD=-1
profile.Builder.key.DESTROY=0
profile.Builder.mouse.DESTROY=0
profile.Builder.key.USE_ITEM=0
profile.Builder.mouse.USE_ITEM=2
profile.Builder.key.DROP_ITEM=81
profile.Builder.mouse.DROP_ITEM=-1
profile.Builder.key.HOTBAR_1=49
profile.Builder.mouse.HOTBAR_1=-1
profile.Builder.key.HOTBAR_2=50
profile.Builder.mouse.HOTBAR_2=-1
profile.Builder.key.HOTBAR_3=51
profile.Builder.mouse.HOTBAR_3=-1
profile.Builder.key.HOTBAR_4=52
profile.Builder.mouse.HOTBAR_4=-1
profile.Builder.key.HOTBAR_5=53
profile.Builder.mouse.HOTBAR_5=-1
profile.Builder.key.HOTBAR_6=54
profile.Builder.mouse.HOTBAR_6=-1
profile.Builder.key.HOTBAR_7=55
profile.Builder.mouse.HOTBAR_7=-1
profile.Builder.key.HOTBAR_8=56
profile.Builder.mouse.HOTBAR_8=-1
profile.Builder.key.HOTBAR_9=57
profile.Builder.mouse.HOTBAR_9=-1
profile.Builder.key.HOTBAR_PREV=91
profile.Builder.mouse.HOTBAR_PREV=4
profile.Builder.key.HOTBAR_NEXT=93
profile.Builder.mouse.HOTBAR_NEXT=5
profile.Builder.key.MENU=256
profile.Builder.mouse.MENU=-1
profile.Builder.key.ENTER_VEHICLE=70
profile.Builder.mouse.ENTER_VEHICLE=-1
profile.Builder.key.EXIT_VEHICLE=70
profile.Builder.mouse.EXIT_VEHICLE=-1
profile.Builder.key.CHAT=84
profile.Builder.mouse.CHAT=-1
profile.Builder.key.DEBUG=292
profile.Builder.mouse.DEBUG=-1
profile.Builder.key.SCREENSHOT=291
profile.Builder.mouse.SCREENSHOT=-1
profile.Builder.key.MAP=77
profile.Builder.mouse.MAP=-1
profile.Builder.key.LOOK=0
profile.Builder.mouse.LOOK=-1
profile.Builder.key.ZOOM=90
profile.Builder.mouse.ZOOM=-1
profile.Builder.key.RADIAL_MENU=258
profile.Builder.mouse.RADIAL_MENU=-1
